---
import { Image } from 'astro:assets'
import logoImage from '../../assets/images/Platinex Email Footer Logo.png'
---

<div class='flex items-center gap-2'>
	<Image
		src={logoImage}
		alt='Platinex Industries Logo'
		class='h-8 w-[180px] object-contain'
		width={180}
		height={32}
		loading='eager'
	/>
</div>
