---
import { Image } from 'astro:assets'
import logoImage from '../../assets/images/Platinex Email Footer Logo.png'
---

<div class='flex items-center gap-2'>
	<Image
		src={logoImage}
		alt='Platinex Industries Logo'
		class='h-8 w-[180px] object-contain mix-blend-multiply dark:mix-blend-normal dark:bg-white dark:rounded dark:p-1'
		width={180}
		height={32}
	/>
</div>
